.git
.github
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/vendor
frontend/dist
frontend/tests
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
**/.tmp
**/*.md
!README.md
