:root {
  --light-platinum: #e5e7eb;
  --light-gray: #9ca3af;
  --muted-gray: #8b8e93;
  --black-color: #111827;
  --divider-color: #f1f2f3;
  --secondary-text-color: #9ea1a6;
  --pale-gray-color: #d8dcdd;
}

$light-platinum: #e5e7eb;
$light-gray: #9ca3af;
$muted-gray: #8b8e93;
$black-color: #111827;
$divider-color: #f1f2f3;
$secondary-text-color: #9ea1a6;
$pale-gray-color: #d8dcdd;
